#menus {
	padding: 15px;
	transition: all 0.8s;
}
#menus.navbar-default {
	background: linear-gradient(to right, #8c77e9 0%, #771055 100%) !important;
	/* border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(0,0,0,0.15) */
}
#menus a.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: rgb(248, 248, 248);
	text-transform: uppercase;
}
.navbar-brands{
	
	display: flex;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: rgb(248, 248, 248);
	text-transform: uppercase;
}
.topicon{
	display: flex;
}
.icon{
	padding-right:10px;
}
.linkcolor{
	/* background-color: white; */
	color: white;
}